<!DOCTYPE html>
<html>
  <head>
    <title>TtpsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= button_to 'Sign Out',destroy_user_session_path(),  method: :delete, class: "btn btn-outline-secondary" %>
    <% end %>
    <%= yield %>
  </body>
</html>
